{% extends 'baseNonConnecte.html.twig' %}

{% block title %}
TournamentTennis : l'application de gestion de tournois de tennis
{% endblock %}

{% block body %}
<div class="p-5">
<div class="p-5 border bg-light">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-3">
	                    <a href="/login" class="btn btn-primary">Connexion</a>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-4">
            <h1>Qu'est-ce que TournamentTennis ?</h1>
			<p>
				TournamentTennis est une application de gestion de tournois de tennis qui permettra à l'organisateur de faire participer les joueurs dans ce processus de gestion de tournoi quand ils s'inscriront et devront saisir leur résultats après la fin d'un match par exemple. N'attendez plus, connectez-vous ou créez un compte pour commencer à utiliser notre application !
			</p>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>
</div>
</div>
{% endblock %}
