<form id="my_form3" method="post" action="{{ path('tennis_match_delete', {'id': tennis_match.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer ce match ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tennis_match.id) }}">
    <center><button class="btn btn-primary">Supprimer</button></center>
</form>
