{% extends 'base.html.twig' %}

{% block title %}Edit TennisMatch{% endblock %}

{% block body %}
    <h1>Modification d'un match</h1>

    {{ include('tennis_match/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
