{% extends 'base.html.twig' %}

{% block title %}New TennisMatch{% endblock %}

{% block body %}
    <center><h1>Créer un match</h1></center>

    {{ include('tennis_match/_form.html.twig') }}

{% endblock %}
