{% extends 'base.html.twig' %}

{% block title %}Détails match {{tennis_match.id}} {% endblock %}
{% block titre %} <center><h1>Détails du match {{ tennis_match.id }}</h1></center>{% endblock %}
{% block body %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
         
<center>
<div class="card">
  <div class="card-body">
    <h3 class="card-text">Entité utilisateur non crée <b>VS</b> Entité utilisateur non crée </h3>
    <p class="card-text">Vainqueur : </p>
    <p class="card-text">Résultat : </p>
  </div>
</div>
</center>
    <a href="{{ path('tennis_match_index', {'id': tennis_match.tennisTour.id}) }}">Retour à la liste des matchs</a>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>


{% endblock %}
