{% extends 'base.html.twig' %}

{% block title %}New TennisTour{% endblock %}

{% block body %}
    <h1>Create new TennisTour</h1>

    {{ include('tennis_tour/_form.html.twig') }}

    <a href="{{ path('tennis_tour_index', {'id': tennis_tour.tennisTournoi.id }) }}">back to list</a>
{% endblock %}
