{% extends 'base.html.twig' %}

{% block title %}Détails tour{% endblock %}

{% block body %}
    <h1>Détails du tour {{ tennis_tour.numero }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Type</th>
                <td>{{ tennis_tour.type }}</td>
            </tr>
            <tr>
                <th>Date de fin du tour</th>
                <td>{{ tennis_tour.dateFinTour ? tennis_tour.dateFinTour|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ tennis_tour.statut }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
