<form id="my_form" method="post" action="{{ path('tennis_tournoi_delete', {'id': tennis_tournoi.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tennis_tournoi.id) }}">
    <a href="javascript:{}" onclick="document.getElementById('my_form').submit(); return false;">Supprimer</a>
</form>
