<form id="my_form" method="post" action="{{ path('tennis_tournoi_delete', {'id': tennis_tournoi.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer ce tournoi ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tennis_tournoi.id) }}">
    <center><button class="btn btn-primary">Supprimer</button></center>
</form>
