<form id="my_form5" method="post" action="{{ path('tennis_tournoi_desinscrire', {'id': tournoi.id}) }}" onsubmit="return confirm('Voulez vous vraiment vous desinscrire de ce tournoi ?');">
    <center><button class="btn btn-primary">Se desinscrire</button></center>
</form>
