<form id="my_form4" method="post" action="{{ path('tennis_tournoi_terminer', {'id': tournoi.id}) }}" onsubmit="return confirm('Voulez vous vraiment terminer ce tournoi ?');">
    <center><button class="btn btn-primary">Terminer le tournoi</button></center>
</form>