{% extends 'base.html.twig' %}

{% block title %}Modifier un tournoi{% endblock %}

{% block body %}
    <h1>Modifier un tournoi</h1>

    {{ include('tennis_tournoi/_form.html.twig', {'button_label': 'Modifier'}) }}
    
{% endblock %}
