{% extends 'base.html.twig' %}

{% block titre %}<h1><center>Créer un nouveau tournoi</center></h1>{% endblock %}

{% block body %}

    {{ include('tennis_tournoi/_form.html.twig') }}

    <a href="{{ path('tennis_tournoi_index') }}">back to list</a>
{% endblock %}
