{% extends 'base.html.twig' %}

{% block title %}Edit TennisUtilisateur{% endblock %}

{% block body %}
    <h1>Edit TennisUtilisateur</h1>

    {{ include('tennis_utilisateur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tennis_utilisateur_index') }}">back to list</a>

    {{ include('tennis_utilisateur/_delete_form.html.twig') }}
{% endblock %}
